section.about
  div.container
    div.row
      div.col-12
        div.about__title
          h2.h2 О себе
    div.about__body.row
      div.col-12.col-lg-5
        div.about__avatar
          img.img.about__avatar-img(src="images/avatar.jpeg" alt="Андрей" title="Андрей" width="300")

      div.col-12.col-lg-7
        div.about__desc
          +tabs({
            items: [
              {tab: 'Вступление'},
              {tab: 'Навыки'},
              {tab: 'Опыт'},
            ],
            contents: [
              {
                name: 'intro',
                arg: {

                }
              },
              {
                name: 'skills',
                arg: {
                  items: [
                    {
                      title: 'HTML, PUG',
                      name: 'progress-bar',
                      arg: {
                        number: '100%'
                      }
                    },
                    {
                      title: 'CSS3, SASS, BEM',
                      name: 'progress-bar',
                      arg: {
                        number: '100%'
                      }
                    },
                    {
                      title: 'GULP',
                      name: 'progress-bar',
                      arg: {
                        number: '100%'
                      }
                    },
                    {
                      title: 'JS, JQUERY',
                      name: 'progress-bar',
                      arg: {
                        number: '40%'
                      },
                      class: 'progress-bar--40'
                    },
                    {
                      title: 'BOOTSTRAP',
                      name: 'progress-bar',
                      arg: {
                        number: '60%'
                      },
                      class: 'progress-bar--60'
                    },
                    {
                      title: 'REACT, TSX, JSX',
                      name: 'progress-bar',
                      arg: {
                        number: '30%'
                      },
                      class: 'progress-bar--30'
                    },
                  ]
                }
              },
              {
                name: 'experience',
                arg: {
                  items: [
                    {
                      text: 'Первые годы работы занимался версткой обычных одностраничных сайтов. Более полугода активно участвовал в верстке писем для рассылки в крупной компании. Имеется опыт работы с правками на существующих сайтах на платформах WordPress и 1C-Bitrix. Выполнил посадку нескольких сайтов на указанные CMS. Внедрил систему Schema.org для московского сайта, предоставляющего услуги в сфере обслуживания (няни, домработницы, личные водители).'
                    },
                    {
                      text: 'Постепенно перешел к разработке многостраничных сайтов и мини-магазинов. Улучшал верстку для электронных писем и рассылок.'
                    },
                    {
                      text: 'В последние два года активно принимал участие в совместной разработки UI-Kit с дизайнером для проекта. Где обеспечиваю полное соответствие компонентов, разработанных в дизайне, компонентам, созданным на фронтенде. Гарантирую точное воплощение дизайнерских концепций и эффективное взаимодействие между дизайном и фронтендом. '
                    }
                  ]
                }
              }
            ]
          })