section.about
  div.container
    div.row
      div.col-12
        div.about__title
          h2.h2 О себе
    div.about__body.row
      div.col-12.col-lg-5
        div.about__avatar
          img.img.about__avatar-img(src="images/avatar.jpeg" alt="Андрей" title="Андрей" width="300")

      div.col-12.col-lg-7
        div.about__desc
          +tabs({
            items: [
              {tab: 'Вступление'},
              {tab: 'Навыки'},
              {tab: 'Опыт'},
            ],
            contents: [
              {
                name: 'intro',
                arg: {

                }
              },
              {
                name: 'skills',
                arg: {
                  items: [
                    {
                      title: 'HTML, PUG',
                      name: 'progress-bar',
                      arg: {
                        number: '100%'
                      }
                    },
                    {
                      title: 'CSS3, SASS, BEM',
                      name: 'progress-bar',
                      arg: {
                        number: '100%'
                      }
                    },
                    {
                      title: 'GULP',
                      name: 'progress-bar',
                      arg: {
                        number: '100%'
                      }
                    },
                    {
                      title: 'JS, JQUERY',
                      name: 'progress-bar',
                      arg: {
                        number: '40%'
                      },
                      class: 'progress-bar--40'
                    },
                    {
                      title: 'BOOTSTRAP',
                      name: 'progress-bar',
                      arg: {
                        number: '60%'
                      },
                      class: 'progress-bar--60'
                    },
                    {
                      title: 'REACT, TSX, JSX',
                      name: 'progress-bar',
                      arg: {
                        number: '30%'
                      },
                      class: 'progress-bar--30'
                    },
                  ]
                }
              },
              {
                name: 'experience',
                arg: {
                  items: [
                    {
                      text: 'В течение первых лет моей карьеры я занимался версткой обычных одностраничных сайтов. После этого, в течение более полугода, активно участвовал в верстке писем для рассылки в крупной компании. Также у меня есть опыт работы с правками на существующих сайтах на платформах WordPress и 1C-Bitrix. В ходе работы я успешно выполнил посадку нескольких сайтов на указанные CMS и внедрил систему Schema.org для московского сайта, предоставляющего услуги в сфере обслуживания (няни, домработницы, личные водители ).',
                    },
                    {
                      text: 'С постепенным развитием моей карьеры, я перешел к разработке многостраничных сайтов и мини-магазинов. В этот период я также улучшал верстку для электронных писем и рассылок.',
                    },
                    {
                      text: 'За последние два года я активно участвовал в совместной разработке UI-Kit с дизайнером для проекта, работая в команде из 30 человек. Этот опыт позволил мне эффективно взаимодействовать с командой и успешно выполнять поставленные задачи.',
                    },
                    {
                      text: 'Моя главная роль заключалась в обеспечении полного соответствия компонентов, разработанных в дизайне, компонентам, созданным на фронтенде. Я гарантировал точное воплощение дизайнерских концепций и с гордостью следил за тем, как наши сайты на React с использованием Next.js получились отличными и привлекательными.',
                    },
                    {
                      text: 'Важной частью моей работы было кроссбраузерное тестирование в browserstack, чтобы убедиться, что верстка отвечает всем требованиям на различных устройствах и браузерах, таких как iOS, Android, macOS, Opera, Chrome, Firefox, Safari. Это позволяло нам обеспечивать оптимальное пользовательское взаимодействие независимо от того, с какого устройства пользователь заходил на наш сайт.',
                    },
                    {
                      text: 'Мои навыки включают использование HTML5, CSS3, JavaScript, а также библиотек и фреймворков, таких как React и Next.js. Я также владею инструментами контроля версий, такими как Git. Которые помогают эффективно работать в команде и использовать новейшие технологии, которые позволяют мне успешно выполнять проекты и приносить пользу вашей компании.',
                    },
                  ]
                }
              }
            ]
          })
