section.page-contents.page-contents-hashbon-pass
  div.container
    div.row.justify-content-md-center.space__gap-row-lg.space__mb-xll 
      div.col-12.col-xl-6
        div.page-contents__block-text
          h1.h1.page-contents__h1 Hashbon Pass
          p.text.page-contents__text  Я&nbsp;с&nbsp;гордостью принимал участие в&nbsp;разработке сайта 
            a.link(href="https://pass.hashbon.com/" target="_blank") Hashbon Pass
            |&nbsp;&mdash; инновационного NFT и&nbsp;децентрализованного протокола для многоразовой верификации личности для Ethereum, BNB Chain, Polygon и&nbsp;других EVM-совместимых блокчейнов. Этот проект представляет актуальное решение проблемы KYC в&nbsp;DeFi, обеспечивая безопасность и&nbsp;удобство как для индивидуальных пользователей (B2C), так и&nbsp;для сервисов B2B.
          p.text.page-contents__text Моя команда из&nbsp;18&nbsp;человек активно принимала участие в&nbsp;разработке проекта, и&nbsp;я&nbsp;с&nbsp;гордостью смотрю на&nbsp;наш совместный вклад в&nbsp;его успешную реализацию.
          p.text.page-contents__text Основной моей задачей в&nbsp;этом проекте была разработка UI-системы и&nbsp;компонентов совместно с&nbsp;дизайнером. Я&nbsp;проектировал компоненты на&nbsp;React, обеспечивая точное соответствие дизайнерским концепциям, представленным в&nbsp;Figma. В&nbsp;течение работы я&nbsp;также занимался созданием анимаций для всего сайта и&nbsp;написанием небольшой логики, чтобы обеспечить более плавное и&nbsp;интерактивное пользовательское взаимодействие. Сайт был разработан с&nbsp;использованием Next.js, что обеспечило его высокую производительность и&nbsp;современные возможности.
          p.text.page-contents__text Я&nbsp;глубоко увлечен веб-разработкой и&nbsp;всегда стремлюсь к&nbsp;совершенствованию своих навыков. Моя способность эффективно работать в&nbsp;команде и&nbsp;использовать новейшие технологии позволяет мне успешно выполнять проекты и&nbsp;достигать поставленных целей.
          p.text.page-contents__text Буду рад предоставить дополнительные детали о&nbsp;своем опыте и&nbsp;навыках на&nbsp;собеседовании и&nbsp;внести свой вклад в&nbsp;развитие вашей компании.

          //- old
          //- p.text.page-contents__text Участвовал в разботке сайта 
          //-   a.link(href="https://pass.hashbon.com/" target="_blank") Hashbon Pass. 
          //-   |Который представляет собой NFT и децентрализованный протокол для многоразовой верификации личности для Ethereum, BNB Chain, Polygon и других EVM-совместимых блокчейнов. Это актуальное и инновационное решение проблемы KYC в DeFi как для индивидуального пользования (B2C), так и для сервисов B2B.
          //-   br
          //-   |В разработке участвовала команда из 18 человек.
          //- p.text.page-contents__text Основной моей задачей была разработка UI-системы и компонентов совместно с дизайнером для проекта. Проектировал компоненты на React, которые точно соответствуют компонентам дизайна в Figma. Кроме того, занимался анимацией для всего сайта и написанием небольшой логики. Сайт разрабатывался на NextJS.

        div.page-contents__badge-list
          div.badge React
          div.badge TSX
          div.badge JSX
          div.badge NextJS
          div.badge Figma
          div.badge SASS
          div.badge BEM
          div.badge GIT

        div.page-contents__share-list
          +link-icon({ href: "https://pass.hashbon.com/", text: "Hashbon Pass",
            content: {
              name: "icon",
              arg: {
                name: "icon--share",
                mod: "icon--30",
              }
            }
          })(target="_blank")

      div.col-12.col-md-8.col-xl-6
        img.img(src="images/preview-img-hasbon-pass.jpg" alt="Hashbon Pass")

    div.row.justify-content-center.space__gap-row-lg.space__mb-xll  
      div.col-12
        div.page-contents__block-text.page-contents__block-text--center
          h2.h2.page-contents__h2 Разработка UI Figma
          p.text.page-contents__text Велась совместная разработка компонентов с дизайнером, которые соответствуют всем требованиям верстки.

      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-pass-ui-1-small.jpg" alt="UI Hashbon Pass")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-pass-ui-2-small.jpg" alt="UI Hashbon Pass")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-pass-ui-3-small.jpg" alt="UI Hashbon Pass")

    div.row.justify-content-center.space__gap-row-lg.space__mb-xll  
      div.col-12
        div.page-contents__block-text.page-contents__block-text--center
          h2.h2.page-contents__h2 Страницы сайта

      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-pass-ui-4-small.jpg" alt="UI Hashbon Pass")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-pass-ui-5-small.jpg" alt="UI Hashbon Pass")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-pass-ui-6-small.jpg" alt="UI Hashbon Pass")
      div.col-10.col-md-6.col-xl-4

    div.row.justify-content-center.space__mb-xll  
      div.col-auto
        +btn({type: "link", url: "/", text: "На главную"})

    div.row.justify-content-md-center.space__gap-row-lg.space__mb-lg  
      div.col-12
        h2.h2.page-contents__h2 Еще работы

    div.row.space__gap-row-md
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon.jpg', imgAlt: 'Hashbon React',
          url: '/hashbon.html',
          title: 'Hashbon React', desc: 'React Storybook TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-matbea.jpg', imgAlt: 'MATBEA',
          url: '/matbea.html',
          title: 'MATBEA', desc: 'React Storybook TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon-app-pass.jpg', imgAlt: 'Hashbon Pass App',
          url: '/hashbon-app.html',
          title: 'Hashbon Pass App', desc: 'React TSX JSX BEM SASS CSS',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon-lk.jpg', imgAlt: 'Hashbon React Lk',
          url: '/hashbon-lk.html',
          title: 'Hashbon React Lk', desc: 'Совместная разработки UI-Kit и компонентов с дизайнером для проекта',
        })
