section.contact
	div.container
		div.row.justify-content-center
			div.col-12
				h2.h2.h2--left.contact__title КОНТАКТЫ

			div.col-12.col-md-10
				div.contact__info
					div.contact__spiners
						div.contact__spiners-item
							+icon('icon--hexagon', 'icon--30')
						div.contact__spiners-item
							+icon('icon--pentagon', 'icon--30')
						div.contact__spiners-item
							+icon('icon--rhombus', 'icon--30')

					ul.contact__list
						li.contact__item
							a.contact__link(href="https://www.linkedin.com/in/%D0%B0%D0%BD%D0%B4%D1%80%D0%B5%D0%B9-%D0%BF%D0%BE%D0%B7%D0%B4%D0%BD%D1%8B%D1%88%D0%B5%D0%B2-5404b7229/") 
								div.contact__item-img
									+icon('icon--linkedin', 'icon--30')
								span LinkedIn

						li.contact__item
							a.contact__link(href="https://zlatoust.hh.ru/applicant/resumes/view?resume=81da8b33ff0988942a0039ed1f517375397658") 
								div.contact__item-img
									+icon('icon--headhunter', 'icon--30')
								span HeadHunter

						li.contact__item
							a.contact__link(href="mailto:starforg-revolution@yandex.ru")
								div.contact__item-img
									+icon('icon--e-mail', 'icon--30')
								span E-mail

						li.contact__item
							a.contact__link(href="https://wa.me/+79127727880")
								div.contact__item-img
									+icon('icon--whatsapp', 'icon--30')
								span WhatsApp

						li.contact__item
							a.contact__link(href="tg://resolve?domain=<Андрей Позднышев>")
								div.contact__item-img
									+icon('icon--telegram', 'icon--30')
								span Telegram

