section.works(id='works')
  div.works__shape.works__shape--1
    img.works__shape-img(src="images/img-dots.svg" alt="figures")

  div.container
    div.row
      div.col-12.works__top
        div.works__shape.works__shape--2
          img.works__shape-img(src="images/img-shape-1.svg" alt="figures")

        div.works__title
          h2.h2 Мои Работы

    div.works__list
      div.row.works__list-header
        div.col-12
          div.works__list-actions
            ul.works__list-nav
              li.works__list-nav-item.works__list-nav-item--active.all Все работы
              li.works__list-nav-item.html Html верстка
              li.works__list-nav-item.email Email верстка
              li.works__list-nav-item.react React верстка
              li.works__list-nav-item.test Тестовая верстка
            //- div.works__link
            //- 	+bad-link({url: '#', text: 'Посмотреть все'})

      div.row.works__body.justify-content-center
        div.col-12.col-lg-6.col-xl-6.works__item.react.all
          +item-works({
            img: 'preview-img-hasbon.jpg', imgAlt: 'Hashbon React',
            url: 'https://hashbon.com/',
            title: 'Hashbon React', desc: 'React Storybook TSX JSX BEM SASS CSS Next.js',
          })
        div.col-12.col-lg-6.col-xl-6.works__item.react.all
          +item-works({
            img: 'preview-img-matbea.jpg', imgAlt: 'MATBEA',
            url: 'https://matbea.com/',
            title: 'MATBEA', desc: 'React Storybook TSX JSX BEM SASS CSS Next.js',
          })
        div.col-12.col-lg-6.col-xl-6.works__item.react.all
          +item-works({
            img: 'preview-img-hasbon-pass.jpg', imgAlt: 'Hashbon Pass',
            url: 'https://pass.hashbon.com/',
            title: 'Hashbon Pass', desc: 'React TSX JSX BEM SASS CSS Next.js',
          })
        div.col-12.col-lg-6.col-xl-6.works__item.react.all
          +item-works({
            img: 'preview-img-hasbon-app-pass.jpg', imgAlt: 'Hashbon Pass App',
            url: 'https://app.pass.hashbon.com/',
            title: 'Hashbon Pass App', desc: 'React TSX JSX BEM SASS CSS',
          })
        div.col-12.col-lg-6.col-xl-6.works__item.react.all
          +item-works({
            img: 'preview-img-hasbon-lk.jpg', imgAlt: 'Hashbon React Lk',
            url: 'https://www.figma.com/file/JzqupDHZ83HCQLnsVFPonu/React?type=design&node-id=128%3A20&mode=design&t=IblhIh6ilzFGKm1s-1',
            title: 'Hashbon React Lk', desc: 'Совместная разработки UI-Kit и компонентов с дизайнером для проекта',
          })
        div.col-12.col-lg-6.col-xl-6.works__item.react.all
          +item-works({
            img: 'preview-img-bothub.jpg', imgAlt: 'BotHub',
            url: 'https://bothub.chat/',
            title: 'BotHub', desc: 'React Vite Feature-Sliced Design Mantine TSX JSX BEM SASS CSS',
          })
        div.col-12.col-lg-6.col-xl-6.works__item.react.all
          +item-works({
            img: 'preview-img-hasbon-rocket.jpg', imgAlt: 'Hashbon Rocket',
            url: 'https://rocket.hashbon.com/',
            title: 'Hashbon Rocket', desc: 'React TSX JSX BEM SASS CSS',
          })
        div.col-12.col-lg-6.col-xl-6.works__item.react.all
          +item-works({
            img: 'preview-img-olrait.jpg', imgAlt: 'Olrait',
            url: 'https://www.figma.com/file/psRdaTY0hJ9JDD3kmdCCH7/Allright.exchange?type=design&node-id=86%3A448&mode=design&t=fXfL4QsC5wKw5F4n-1',
            title: 'Olrait', desc: 'Совместная разработки UI-Kit и компонентов с дизайнером для проекта',
          })
        div.col-12.col-lg-6.col-xl-6.works__item.html.all
          +item-works({
            img: 'preview-img-dashbord-many.jpg', imgAlt: 'Dashboard',
            url: 'https://andreivl.github.io/dashbord_html_build',
            title: 'Dashboard HTML', desc: 'HTML CSS JS Gulp PUG SASS BEM ',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.react.all
          +item-works({
            img: 'preview-img-dashbord-storybook.jpg', imgAlt: 'Dashbord Storybook',
            url: 'https://andreivl.github.io/reactl_dashbord_storybook/',
            title: 'Dashboard React', desc: 'React Storybook TSX JSX BEM SASS',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.html.all
          +item-works({
            img: 'preview-img-nazarov-fitnes-many.jpg', imgAlt: 'Nazarov Fitnes',
            url: 'https://andreivl.github.io/nazarov_fitnes_many_build/pages-list',
            title: 'Nazarov Fitnes', desc: 'HTML CSS JS Gulp PUG SASS BEM ',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.html.all
          +item-works({
            img: 'preview-img-fabrika-supa-one-many.jpg', imgAlt: 'Fabrika Supa One',
            url: 'https://andreivl.github.io/fabrika_supa_one_many_build/pages-list',
            title: 'Fabrika Supa One', desc: 'HTML CSS JS Gulp PUG SASS BEM ',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.html.all
          +item-works({
            img: 'preview-img-pelevita.jpg', imgAlt: 'Pelevita',
            url: 'https://andreivl.github.io/pelevita_many_build/pages-list',
            title: 'Pelevita', desc: 'HTML CSS JS Gulp PUG SASS BEM ',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.html.all
          +item-works({
            img: 'preview-img-otkritie-openfactoring.jpg', imgAlt: 'Otkritie Openfactoring',
            url: 'https://openfactoring.ru/',
            title: 'Otkritie Openfactoring', desc: 'Доработка сайта',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.html.all
          +item-works({
            img: 'preview-img-strebkov-design-many.jpg', imgAlt: 'Strebkov Design',
            url: 'https://andreivl.github.io/strebkov_design_many_build/',
            title: 'Strebkov Design', desc: 'HTML CSS JS Gulp PUG SASS BEM ',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.html.all
          +item-works({
            img: 'preview-img-datatile-many.jpg', imgAlt: 'Datatile',
            url: 'https://datatile.eu/',
            title: 'Datatile', desc: 'HTML CSS JS Gulp PUG SASS BEM ',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.html.all
          +item-works({
            img: 'preview-img-auto-school-one.jpg', imgAlt: 'Auto School',
            url: 'https://andreivl.github.io/auto_school_one_build/',
            title: 'Auto School', desc: 'HTML CSS JS Gulp PUG SASS BEM ',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.html.all
          +item-works({
            img: 'preview-img-zen-mobile-many.jpg', imgAlt: 'Zen Mobile',
            url: 'https://andreivl.github.io/zen_mobile_many_build/pages-list',
            title: 'Zen Mobile', desc: 'HTML CSS JS Gulp PUG SASS BEM ',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.html.all
          +item-works({
            img: 'preview-img-colorel-many.jpg', imgAlt: 'Colorel',
            url: 'https://andreivl.github.io/colorel_many_build/pages-list',
            title: 'Colorel', desc: 'HTML CSS JS Gulp PUG SASS BEM',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.html.all
          +item-works({
            img: 'preview-img-atatapps-one.jpg', imgAlt: 'Atatapps One',
            url: 'https://andreivl.github.io/atatapps_one_build',
            title: 'Atatapps One', desc: 'HTML CSS JS Gulp PUG SASS BEM',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.html.all
          +item-works({
            img: 'preview-img-des-tpk-one.jpg', imgAlt: 'Tpk',
            url: 'https://andreivl.github.io/des_tpk_one_build/',
            title: 'Tpk', desc: 'HTML CSS JS Gulp PUG SASS BEM',
          })


        div.col-12.col-lg-6.col-xl-6.works__item.test.all
          +item-works({
            img: 'preview-img-spa.jpg', imgAlt: 'SPA',
            url: 'https://andreivl.github.io/Test-spa/',
            title: 'SPA', desc: 'Test work. HTML CSS JS Gulp PUG SASS BEM',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.test.all
          +item-works({
            img: 'preview-img-сraft-lance-one.jpg', imgAlt: 'Craft Lance',
            url: ' https://andreivl.github.io/craftlance_one_build/',
            title: 'Craft Lance', desc: 'Test work. HTML CSS JS Gulp PUG SASS BEM',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.test.all
          +item-works({
            img: 'preview-img-pervopechatnik-one.jpg', imgAlt: 'Pervopechatnik',
            url: 'https://andreivl.github.io/pervopechatnik_one_build/',
            title: 'Pervopechatnik', desc: 'Test work. HTML CSS JS Gulp PUG SASS BEM',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.test.all
          +item-works({
            img: 'preview-img-pervopechatnik-ver-2-one.jpg', imgAlt: 'Pervopechatnik Apdeit',
            url: 'https://andreivl.github.io/pervopechatnik_ver_2_one_build/',
            title: 'Pervopechatnik Apdeit', desc: 'Test work. HTML CSS JS Gulp PUG SASS BEM',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.test.all
          +item-works({
            img: 'preview-img-komatsu-one.jpg', imgAlt: 'Komatsu',
            url: 'https://andreivl.github.io/komatsu_one_build',
            title: 'Komatsu', desc: 'Test work. HTML CSS JS Gulp PUG SASS BEM',
          })


        div.col-12.col-lg-6.col-xl-6.works__item.email.all
          +item-works({
            img: 'preview-img-mail-emails-8marth.jpg', imgAlt: '8 Marth',
            url: 'https://andreivl.github.io/mail_emails_8marth_build',
            title: '8 Marth', desc: 'Email. HTML CSS Gulp PUG SASS BEM',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.email.all
          +item-works({
            img: 'preview-img-mail-emails-fashion.jpg', imgAlt: 'Fashion',
            url: 'https://andreivl.github.io/mail_emails_fashion_build',
            title: 'Fashion', desc: 'Email. HTML CSS Gulp PUG SASS BEM',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.email.all
          +item-works({
            img: 'preview-img-mail-logo-mail.jpg', imgAlt: 'Logo',
            url: 'https://andreivl.github.io/mail_emails_logo_mail_build',
            title: 'Logo', desc: 'Email. HTML CSS Gulp PUG SASS BEM',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.email.all
          +item-works({
            img: 'preview-img-mail-logo-mail2.jpg', imgAlt: 'Logo Two',
            url: 'https://andreivl.github.io/mail_emails_logo_mail2_build',
            title: 'Logo Two', desc: 'Email. HTML CSS Gulp PUG SASS BEM',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.email.all
          +item-works({
            img: 'preview-img-mail-elisabeth.jpg', imgAlt: 'Elisabeth',
            url: 'https://andreivl.github.io/mail_elisabeth_build',
            title: 'Elisabeth', desc: 'Email. HTML CSS Gulp PUG SASS BEM',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.email.all
          +item-works({
            img: 'preview-img-mail-templates.jpg', imgAlt: 'Email Templates',
            url: 'https://andreivl.github.io/mail_emails_templates_build',
            title: 'Email Templates', desc: 'Email. HTML CSS Gulp PUG SASS BEM',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.email.all
          +item-works({
            img: 'preview-img-mail-templates-100.jpg', imgAlt: 'Templates 100',
            url: 'https://andreivl.github.io/mail_emails_templates_100_build',
            title: 'Templates 100', desc: 'Email. HTML CSS Gulp PUG SASS BEM',
          })

        div.col-12.col-lg-6.col-xl-6.works__item.email.all
          +item-works({
            img: 'preview-img-mail-indeppro.jpg', imgAlt: 'Indeppro',
            url: 'https://andreivl.github.io/mail_emails_indeppro_build',
            title: 'Indeppro', desc: 'Email. HTML CSS Gulp PUG SASS BEM',
          })

      div.row.works__portfolio-no
        div.col-12
          p.text Еще нет таких работ