section.page-contents.page-contents-hasbon
  div.container
    div.row.justify-content-md-center.space__gap-row-lg.space__mb-xll 
      div.col-12.col-xl-6
        div.page-contents__block-text
          h1.h1.page-contents__h1 Hashbon React
          p.text.page-contents__text Я&nbsp;успешно принимал участие в&nbsp;разработке новой версии 
            a.link(href="https://hashbon.com/" target="_blank") сайта 
            |на&nbsp;совершенно новом стеке технологий. Проект включал команду из&nbsp;18&nbsp;человек.
          p.text.page-contents__text В&nbsp;рамках этого проекта моя основная задача заключалась в&nbsp;разработке UI-системы и&nbsp;компонентов совместно с&nbsp;дизайнером. Я&nbsp;активно проектировал компоненты на&nbsp;React, обеспечивая точное соответствие компонентов дизайну в&nbsp;Figma. Кроме того, я&nbsp;занимался анимацией для всего сайта и&nbsp;написанием небольшой логики. Сам сайт разрабатывался на&nbsp;Next.js, что позволило создать современный и&nbsp;производительный веб-проект.
          p.text.page-contents__text Для обеспечения точного соответствия компонентов дизайна и&nbsp;компонентов фронтенда в&nbsp;проекте был успешно разработан 
            a.link(href="https://storybook.gefara.xyz/" target="_blank") Storybook
            |. Этот инструмент позволяет наглядно увидеть работу всех компонентов сайта, из&nbsp;которых он&nbsp;был создан, и&nbsp;обеспечивает более эффективное взаимодействие между дизайнерами и&nbsp;разработчиками, что&nbsp;облегчило отладку.
          p.text.page-contents__text Мой опыт работы с&nbsp;новыми технологиями и&nbsp;тщательным вниманием к&nbsp;деталям позволил успешно завершить проект и&nbsp;обеспечить высокое качество и&nbsp;производительность сайта.

          //- old
          //- p.text.page-contents__text Работал над созданием новой версии сайта на новом стеке технологий. В разботке участвовала команда из 18 человек.
          //- p.text.page-contents__text Основной моей задачей была разработка UI-системы и компонентов совместно с дизайнером для проекта. Проектировал компоненты на React, которые точно соответствуют компонентам дизайна в Figma. Кроме того, занимался анимацией для всего сайта и написанием небольшой логики. Сайт разрабатывался на NextJS.
          //- p.text.page-contents__text Для обеспечения соответствия компонентов дизайна и компонентов фронтенда был разработан 
          //-   a.link(href="https://storybook.gefara.xyz/" target="_blank") Storybook
          //-   |. Он позволяет наглядно увидеть работу всех компонентов сайта, из которых он был создан.

        div.page-contents__badge-list
          div.badge React
          div.badge NextJS
          div.badge Figma
          div.badge SASS
          div.badge BEM
          div.badge GIT
          div.badge Storybook

        div.page-contents__share-list
          +link-icon({ href: "https://hashbon.com/", text: "Hashbon React",
            content: {
              name: "icon",
              arg: {
                name: "icon--share",
                mod: "icon--30",
              }
            }
          })(target="_blank")
          +link-icon({ href: "https://storybook.gefara.xyz/", text: "Storybook Hashbon React",
            content: {
              name: "icon",
              arg: {
                name: "icon--share",
                mod: "icon--30",
              }
            }
          })(target="_blank")


      div.col-12.col-md-8.col-xl-6
        img.img(src="images/preview-img-hasbon.jpg" alt="Hashbon React")

    div.row.justify-content-center.space__gap-row-lg.space__mb-xll  
      div.col-12
        div.page-contents__block-text.page-contents__block-text--center
          h2.h2.page-contents__h2 Разработка UI Figma
          p.text.page-contents__text Велась совместная разработка компонентов с дизайнером, которые соответствуют всем требованиям верстки.

      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-ui-1-small.jpg" alt="UI Hashbon React")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-ui-2-small.jpg" alt="UI Hashbon React")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-ui-3-small.jpg" alt="UI Hashbon React")

    div.row.justify-content-center.space__gap-row-lg.space__mb-xll  
      div.col-12
        div.page-contents__block-text.page-contents__block-text--center
          h2.h2.page-contents__h2 Разработка Storybook

      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-ui-4-small.jpg" alt="UI Hashbon React")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-ui-5-small.jpg" alt="UI Hashbon React")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-ui-6-small.jpg" alt="UI Hashbon React")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-ui-7-small.jpg" alt="UI Hashbon React")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-ui-8-small.jpg" alt="UI Hashbon React")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-ui-9-small.jpg" alt="UI Hashbon React")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-ui-10-small.jpg" alt="UI Hashbon React")

    div.row.justify-content-center.space__mb-xll  
      div.col-auto
        +btn({type: "link", url: "/", text: "На главную"})

    div.row.justify-content-md-center.space__gap-row-lg.space__mb-lg  
      div.col-12
        h2.h2.page-contents__h2 Еще работы

    div.row.space__gap-row-md
      div.col-12.col-lg-6.col-xl-6.works__item.react.all
        +item-works({
          img: 'preview-img-hasbon.jpg', imgAlt: 'Hashbon React',
          url: 'https://hasbon.com/',
          title: 'Hashbon React', desc: 'React Storybook TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6.works__item.react.all
        +item-works({
          img: 'preview-img-hasbon-pass.jpg', imgAlt: 'Hashbon Pass',
          url: 'https://pass.hashbon.com/',
          title: 'Hashbon Pass', desc: 'React TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6.works__item.react.all
        +item-works({
          img: 'preview-img-hasbon-app-pass.jpg', imgAlt: 'Hashbon Pass App',
          url: 'https://app.pass.hashbon.com/',
          title: 'Hashbon Pass App', desc: 'React TSX JSX BEM SASS CSS',
        })
      div.col-12.col-lg-6.col-xl-6.works__item.react.all
        +item-works({
          img: 'preview-img-hasbon-lk.jpg', imgAlt: 'Hashbon React Lk',
          url: 'https://www.figma.com/file/JzqupDHZ83HCQLnsVFPonu/React?type=design&node-id=128%3A20&mode=design&t=IblhIh6ilzFGKm1s-1',
          title: 'Hashbon React Lk', desc: 'Совместная разработки UI-Kit и компонентов с дизайнером для проекта',
        })