section.page-contents.page-contents-hashbon-app
  div.container
    div.row.justify-content-md-center.space__gap-row-lg.space__mb-xll 
      div.col-12.col-xl-6
        div.page-contents__block-text
          h1.h1.page-contents__h1 Hashbon Pass App
          p.text.page-contents__text Участвовал в&nbsp;разработке App приложения  
            a.link(href="https://app.pass.hashbon.com/" target="_blank") Hashbon Pass
            |&nbsp;&mdash; инновационного паспорта в&nbsp;виде NFT. Это децентрализованный протокол проверки личности, который применяется в&nbsp;проектах, построенных на&nbsp;блокчейнах Ethereum, BNB Chain, Polygon и&nbsp;других.
          p.text.page-contents__text Моя команда из&nbsp;18&nbsp;человек совместно вложила свои усилия в&nbsp;разработку проекта, и&nbsp;я&nbsp;с&nbsp;гордостью смотрю на&nbsp;наш совместный вклад в&nbsp;его успешную реализацию.
          p.text.page-contents__text Основной моей задачей была разработка UI-системы и&nbsp;компонентов совместно с&nbsp;дизайнером. Я&nbsp;проектировал компоненты на&nbsp;React, обеспечивая точное соответствие дизайнерским концепциям, представленным в&nbsp;Figma. В&nbsp;течение работы я&nbsp;также занимался созданием анимаций для всего приложения и&nbsp;написанием небольшой логики, чтобы обеспечить более плавное и&nbsp;интерактивное пользовательское взаимодействие. 
          p.text.page-contents__text Я&nbsp;глубоко увлечен веб-разработкой и&nbsp;всегда стремлюсь к&nbsp;совершенствованию своих навыков. Моя способность эффективно работать в&nbsp;команде и&nbsp;использовать новейшие технологии позволяет мне успешно выполнять проекты и&nbsp;достигать поставленных целей.

          //- old
          //- p.text.page-contents__text Участвовал в разботке App приложения 
          //-   a.link(href="https://app.pass.hashbon.com/" target="_blank") Hashbon Pass.
          //-   br 
          //-   |Hashbon Pass — паспорт в виде NFT. Это децентрализованный протокол проверки личности в проектах, построенных на блокчейнах Ethereum, BNB Chain, Polygon и других..
          //-   br
          //-   |Так же в разработке проекта участвовала команда из 18 человек.
          //- p.text.page-contents__text Основной моей задачей была разработка UI-системы и компонентов совместно с дизайнером для проекта. Проектировал компоненты на React, которые точно соответствуют компонентам дизайна в Figma. Кроме того, занимался анимацией для всего сайта и написанием небольшой логики.

        div.page-contents__badge-list
          div.badge React
          div.badge Figma
          div.badge SASS
          div.badge BEM
          div.badge GIT

        div.page-contents__share-list
          +link-icon({ href: "https://pass.hashbon.com/", text: "Hashbon Pass App",
            content: {
              name: "icon",
              arg: {
                name: "icon--share",
                mod: "icon--30",
              }
            }
          })(target="_blank")

      div.col-12.col-md-8.col-xl-6
        img.img(src="images/preview-img-hasbon-app-pass.jpg" alt="Hashbon Pass App")

    div.row.justify-content-center.space__gap-row-lg.space__mb-xll  
      div.col-12
        div.page-contents__block-text.page-contents__block-text--center
          h2.h2.page-contents__h2 Разработка UI Figma
          p.text.page-contents__text Велась совместная разработка компонентов с дизайнером, которые соответствуют всем требованиям верстки.

      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-pass-ui-1-small.jpg" alt="UI Hashbon Pass")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-pass-ui-2-small.jpg" alt="UI Hashbon Pass")

    div.row.justify-content-center.space__gap-row-lg.space__mb-xll  
      div.col-12
        div.page-contents__block-text.page-contents__block-text--center
          h2.h2.page-contents__h2 Страницы приложения

      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-pass-app-ui-01-small.jpg" alt="UI Hashbon Pass")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-pass-app-ui-02-small.jpg" alt="UI Hashbon Pass")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-pass-app-ui-03-small.jpg" alt="UI Hashbon Pass")
      div.col-10.col-md-6.col-xl-4

    div.row.justify-content-center.space__mb-xll  
      div.col-auto
        +btn({type: "link", url: "/", text: "На главную"})

    div.row.justify-content-md-center.space__gap-row-lg.space__mb-lg  
      div.col-12
        h2.h2.page-contents__h2 Еще работы

    div.row.space__gap-row-md
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon.jpg', imgAlt: 'Hashbon React',
          url: '/hashbon.html',
          title: 'Hashbon React', desc: 'React Storybook TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-matbea.jpg', imgAlt: 'MATBEA',
          url: '/matbea.html',
          title: 'MATBEA', desc: 'React Storybook TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon-pass.jpg', imgAlt: 'Hashbon Pass',
          url: '/hashbon-pass.html',
          title: 'Hashbon Pass', desc: 'React TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon-lk.jpg', imgAlt: 'Hashbon React Lk',
          url: '/hashbon-lk.html',
          title: 'Hashbon React Lk', desc: 'Совместная разработки UI-Kit и компонентов с дизайнером для проекта',
        })