section.fullscreen
	div.fullscreen__body
		h1.fullscreen__title Первый блок во всю высоту экрана
		div.fullscreen__text Lorem ipsum dolor sit 
		a.fullscreen__link(href="#") Next
section.fullscreen.fullscreen__bg

