mixin link-icon(data)
  if data.href
    a.link-icon(href=data.href class!=attributes.class target!=attributes.target) 
      div.link-icon__img
        +#{data.content.name}(data.content.arg)

      if data.text 
        span!=data.text 
