.tabs__list {
	/* 2 Block model */
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	/* 4 Visual */
	list-style: none;
}
.tabs__item {
	/* 2 Block model */
	display: inline-flex;
	align-items: center;
	margin-bottom: 20px;
	margin-right: 30px;

	/* 3 Typography */
	font-family: $font-second;
	color: $color-white;
	font-size: 14px;

	/* 4 Visual */
	cursor: pointer;
	border-radius: 5px;
	border: 2px dashed $color-tab-border;

	/* 5 Animation */
	transition: all $animation-speed ease;

	&:last-child {
		/* 2 Block model */
		margin: 0;
		margin-bottom: 20px;
	}
}
.tabs__item:hover {
	/* 4 Visual */
	border: 2px solid $color-tab-border;
}
.tabs__text {
	/* 2 Block model */
	display: inline-block;
	padding: 9px 20px 5px 20px;

	/* 3 Typography */
	font-family: $font-second;

	/* 5 Animation */
	transition: all $animation-speed ease;
}
.tabs__item:hover .tabs__text {
	/* 3 Typography */
	color: $color-text-secondary;

	/* 4 Visual */
	background-color: $color-tab-bg;
}
.tabs__item--active {
	/* 3 Typography */
	color: $color-text-secondary;
}
.tabs__body {
	/* 2 Block model */
	padding-top: 30px;
}
