doctype html
html(lang="ru")
  include include/head.pug
  +head('hashbon')

  body.custom-scrollbar
    div.wrapper
      include ../blocks/mixins.pug

      +header--works-page({})

      main.main
        div.container
          div.row 
            div.col-12
              +btn({type: "link", url: "/", text: "На главную"})
          div.row 
            div.col-12 content

      include ../blocks/footer/footer.pug

    include include/script.pug