section.brends
	div.brends__shape.brends__shape--1
		img.brends__img(src="images/img-shape-1.svg" alt="figures")
	div.brends__shape.brends__shape--2
		img.brends__img(src="images/img-shape-2.svg" alt="figures")

	div.container
		div.row
			div.col-12
				+slider-brend({
					items: [
						{
							img: '', imgAlt: '3'
						},
						{
							img: '', imgAlt: '3'
						},
						{
							img: '', imgAlt: '3'
						},
						{
							img: '', imgAlt: '3'
						},
						{
							img: '', imgAlt: '3'
						}
					]
				})