section.page-contents.page-contents-hashbon-lk
  div.container
    div.row.justify-content-md-center.space__gap-row-lg.space__mb-xll 
      div.col-12.col-xl-6
        h1.h1.page-contents__h1 Hashbon React Lk
        p.text.page-contents__text В одном из проектов я&nbsp;совместно с&nbsp;дизайнером активно участвовал в&nbsp;разработке прототипа будущего нового личного кабинета 
          a.link(href="https://hashbon.com/" target="_blank") Hashbon React
          |. Наша команда целеустремленно работала над проектом, придерживаясь высоких стандартов веб-разработки.
        p.text.page-contents__text Моя главная задача заключалась в&nbsp;разработке компонентов, которые полностью соответствуют всем требованиям верстки. Совместно с&nbsp;дизайнером, мы&nbsp;уделяли особое внимание созданию интуитивно понятного пользовательского интерфейса. Мы&nbsp;стремились сделать личный кабинет удобным и&nbsp;эффективным для пользователей, обеспечивая при этом современный и&nbsp;привлекательный дизайн.

        //- old
        //- p.text.page-contents__text Совместно с дизайнером я участвовал в разработке прототипа будущего нового личного кабинета 
        //-   a.link(href="https://hashbon.com/" target="_blank") Hashbon React
        //-   |. Мы активно работали над разработкой компонентов, чтобы они полностью соответствовали всем требованиям верстки. Также мы уделяли особое внимание разработке интуитивно понятного пользовательского интерфейса.

      div.col-12.col-md-8.col-xl-6
        img.img(src="images/preview-img-hasbon-lk.jpg" alt="Hashbon React Lk")

    div.row.justify-content-center.space__gap-row-lg.space__mb-xll  
      div.col-12
        div.page-contents__block-text.page-contents__block-text--center
          h2.h2.page-contents__h2 Дизайн протипа LK

      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-lk-proto-01-small.jpg" alt="UI Hashbon React")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-lk-proto-02-small.jpg" alt="UI Hashbon React")
      div.col-10.col-md-6.col-xl-4
        img.img.view-img-small(src="images/img-hasbon-lk-proto-03-small.jpg" alt="UI Hashbon React")


    div.row.justify-content-center.space__mb-xll  
      div.col-auto
        +btn({type: "link", url: "/", text: "На главную"})

    div.row.justify-content-md-center.space__gap-row-lg.space__mb-lg  
      div.col-12
        h2.h2.page-contents__h2 Еще работы

    div.row.space__gap-row-md
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon.jpg', imgAlt: 'Hashbon React',
          url: 'hashbon',
          title: 'Hashbon React', desc: 'React Storybook TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-matbea.jpg', imgAlt: 'MATBEA',
          url: 'matbea',
          title: 'MATBEA', desc: 'React Storybook TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon-pass.jpg', imgAlt: 'Hashbon Pass',
          url: 'hashbon-pass',
          title: 'Hashbon Pass', desc: 'React TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon-app-pass.jpg', imgAlt: 'Hashbon Pass App',
          url: 'hashbon-app',
          title: 'Hashbon Pass App', desc: 'React TSX JSX BEM SASS CSS',
        })