div.spoler.spoler-one
	div.spoler__item
		div.spoler__title Загловок №1
		div.spoler__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus neque ea itaque. Amet sunt odit, saepe iure consequatur velit illum, assumenda alias dolorem ea ratione incidunt ad! Earum, consectetur in. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus neque ea itaque. Amet sunt odit, saepe iure consequatur velit illum, assumenda alias dolorem ea ratione incidunt ad! Earum, consectetur in.Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus neque ea itaque. Amet sunt odit, saepe iure consequatur velit illum, assumenda alias dolorem ea ratione incidunt ad! Earum, consectetur in.
	div.spoler__item
		div.spoler__title Загловок №2
		div.spoler__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus neque ea itaque. Amet sunt odit, saepe iure consequatur velit illum, assumenda alias dolorem ea ratione incidunt ad! Earum, consectetur in. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
	div.spoler__item
		div.spoler__title Загловок №3
		div.spoler__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus neque ea itaque. Amet sunt odit, saepe iure consequatur velit illum, assumenda alias dolorem ea ratione incidunt ad! Earum, consectetur in. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus neque ea itaque. Amet sunt odit, saepe iure consequatur velit illum, assumenda alias dolorem ea ratione incidunt ad! Earum, consectetur in.Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus neque ea itaque. 