section.page-contents.page-contents-bothub
  div.container
    div.row.justify-content-md-center.space__gap-row-lg.space__mb-xll 
      div.col-12.col-xl-6
        h1.h1.page-contents__h1 BotHub
        p.text.page-contents__text В текущем проекте я&nbsp;активно работал над 
          a.link(href="https://bothub.chat/" target="_blank") BotHub 
          |и&nbsp;личным кабинетом пользователей. Моя основная задача заключалась в&nbsp;добавлении адаптивности для сайта, чтобы он&nbsp;отлично отображался на&nbsp;различных устройствах, а&nbsp;также в&nbsp;тестировании на&nbsp;кроссбраузерность, чтобы обеспечить одинаково качественное отображение в&nbsp;разных браузерах.
        p.text.page-contents__text В&nbsp;рамках проекта, я&nbsp;успешно реализовал функциональность темной темы для BotHub. Это позволило пользователям выбирать подходящий вариант оформления, обеспечивая им&nbsp;удобство использования. Внедрение темной темы улучшило пользовательский опыт и&nbsp;сделало сайт более привлекательным и&nbsp;функциональным.
        p.text.page-contents__text Для разработки данного проекта, я&nbsp;использовал библиотеку Mantine, которая позволила мне эффективно и&nbsp;быстро создавать компоненты с&nbsp;современными возможностями.

        //- old
        //- p.text.page-contents__text В текущем проекте моей основной задачей было добавление адаптива для   
        //-   a.link(href="https://bothub.chat/" target="_blank") BotHub 
        //-   | и личного кабинета пользователей, а также тестирование на кроссбраузерность. В рамках проекта успешно реализовал функциональность темной темы для 
        //-   b BotHub
        //-   |, что обеспечило удобство использования и выбор пользователем подходящего варианта оформления. Это позволило улучшить пользовательский опыт и сделать сайт более привлекательным и функциональным. В данном проекте использовалась библиотека Mantine.

        div.page-contents__badge-list
          div.badge React
          div.badge TSX
          div.badge JSX
          div.badge Figma
          div.badge SASS
          div.badge BEM
          div.badge GIT
          div.badge Mantine 

        div.page-contents__share-list
          +link-icon({ href: "https://bothub.chat/", text: "BotHub",
            content: {
              name: "icon",
              arg: {
                name: "icon--share",
                mod: "icon--30",
              }
            }
          })(target="_blank")

      div.col-12.col-md-8.col-xl-6
        img.img(src="images/preview-img-bothub.jpg" alt="Hashbon React Lk")

    div.row.justify-content-center.space__gap-row-lg.space__mb-xll  
      div.col-12
        div.page-contents__block-text.page-contents__block-text--center
          h2.h2.page-contents__h2 Страницы BotHub

      div.col-10.col-md-6
        img.img.view-img-small(src="images/img-bothub-01-small.jpg" alt="BotHub")
      div.col-10.col-md-6
        img.img.view-img-small(src="images/img-bothub-02-small.jpg" alt="BotHub")

    div.row.justify-content-center.space__gap-row-lg.space__mb-xll  
      div.col-12
        div.page-contents__block-text.page-contents__block-text--center
          h2.h2.page-contents__h2 Figma BotHub

      div.col-10.col-md-6
        img.img.view-img-small(src="images/img-bothub-03-small.jpg" alt="BotHub")
      div.col-10.col-md-6
        img.img.view-img-small(src="images/img-bothub-04-small.jpg" alt="BotHub")
      div.col-10.col-md-6
        img.img.view-img-small(src="images/img-bothub-05-small.jpg" alt="BotHub")
      div.col-10.col-md-6
        img.img.view-img-small(src="images/img-bothub-06-small.jpg" alt="BotHub")

    div.row.justify-content-center.space__mb-xll  
      div.col-auto
        +btn({type: "link", url: "/", text: "На главную"})

    div.row.justify-content-md-center.space__gap-row-lg.space__mb-lg  
      div.col-12
        h2.h2.page-contents__h2 Еще работы

    div.row.space__gap-row-md
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon.jpg', imgAlt: 'Hashbon React',
          url: '/hashbon.html',
          title: 'Hashbon React', desc: 'React Storybook TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-matbea.jpg', imgAlt: 'MATBEA',
          url: '/matbea.html',
          title: 'MATBEA', desc: 'React Storybook TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon-pass.jpg', imgAlt: 'Hashbon Pass',
          url: '/hashbon-pass.html',
          title: 'Hashbon Pass', desc: 'React TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon-app-pass.jpg', imgAlt: 'Hashbon Pass App',
          url: '/hashbon-app.html',
          title: 'Hashbon Pass App', desc: 'React TSX JSX BEM SASS CSS',
        })