mixin intro(data)
  div.intro(class!=attributes.class)
    h2.h2.h2--white.intro__title 
      span Всем привет!
      |Меня зовут Андрей&nbsp;&mdash; я&nbsp;Верстальщик.
    p.text.intro__text Мне 36&nbsp;лет, я&nbsp;опытный верстальщик с&nbsp;6-летним стажем. В&nbsp;своей работе я&nbsp;активно использую следующие технологии: HTML5, PUG, CSS3, SASS, GULP, BEM, JS, jQuery, Bootstrap, React, Next.js, а&nbsp;также программы Figma и&nbsp;Adobe Photoshop. Также я&nbsp;хорошо знаком с&nbsp;инструментами контроля версий, такими как GIT, а&nbsp;также пользуюсь платформой Trello для эффективного управления проектами. Моя методология в&nbsp;разработке основана на&nbsp;Feature-Sliced Design и&nbsp;использовании Storybook для создания и&nbsp;отладки компонентов.

    p.text.intro__text В&nbsp;моей работе придаю особое внимание качеству и&nbsp;современным подходам в&nbsp;веб-разработке. Обладая опытом совместной разработки UI-Kit с&nbsp;дизайнерами, я&nbsp;обеспечиваю полное соответствие компонентов, разработанных в&nbsp;дизайне, компонентам, созданным на&nbsp;фронтенде. Я&nbsp;гарантирую точное воплощение дизайнерских концепций и&nbsp;эффективное взаимодействие между дизайном и&nbsp;фронтендом, чтобы обеспечить успешное завершение проектов.

    p.text.intro__text Мной успешно выполнена кроссбраузерная и&nbsp;валидная верстка, которая полностью адаптивна под мобильные устройства. Даже если в&nbsp;проекте отсутствует мобильная версия, я&nbsp;готов разработать эффективную адаптивную верстку, что позволяет существенно экономить время для заказчика.

    p.text.intro__text Я&nbsp;готов принести свой опыт, профессионализм и&nbsp;энтузиазм для вашей компании, и&nbsp;внести вклад в&nbsp;развитие проектов и&nbsp;достижение общих целей. Готов предоставить дополнительные детали и&nbsp;обсудить возможность сотрудничества.

    p.text.intro__text С&nbsp;уважением, Андрей.

    //- Old
    //- p.text.intro__text Мне 36&nbsp;года. Опыт работы 6&nbsp;лет. В&nbsp;работе использую: HTML5, PUG, CSS3, SASS, GULP, BEM, JS, JQUERY, BOOTSTRAP, REACT, NextJS, Figma, Adobe Photoshop, GIT, TRELLO, Feature-Sliced Design, Storybook.
    //- p.text.intro__text Этот набор технологий позволяет мне эффективно работать над проектами, обеспечивая высокое качество и современные подходы в веб-разработке.
    //- p.text.intro__text Обладаю опытом совместной разработки UI-Kit с&nbsp;дизайнером для проекта. Обеспечиваю полное соответствие компонентов, разработанных в&nbsp;дизайне, компонентам, созданным на&nbsp;фронтенде. Гарантирую точное воплощение дизайнерских концепций и&nbsp;эффективное взаимодействие между дизайном и&nbsp;фронтендом.
    //- p.text.intro__text Выполняю кроссбраузерную и&nbsp;валидную верстку, полностью адаптивную под мобильные устройства. Даже в&nbsp;случае отсутствия мобильной версии проекта, способен разработать эффективную адаптивную верстку, что существенно экономит время для заказчика.
