mixin intro(data)
  div.intro(class!=attributes.class)
    h2.h2.h2--white.intro__title 
      span Всем привет!
      |Меня зовут Андрей&nbsp;&mdash; я&nbsp;Верстальщик.
    p.text.intro__text Мне 36&nbsp;года. Опыт работы 6&nbsp;лет. В&nbsp;работе использую: HTML5, PUG, CSS3, SASS, GULP, BEM, JS, JQUERY, BOOTSTRAP, REACT, NextJS, Figma, Adobe Photoshop, GIT, TRELLO, Feature-Sliced Design, Storybook.
    p.text.intro__text Этот набор технологий позволяет мне эффективно работать над проектами, обеспечивая высокое качество и современные подходы в веб-разработке.
    p.text.intro__text Обладаю опытом совместной разработки UI-Kit с&nbsp;дизайнером для проекта. Обеспечиваю полное соответствие компонентов, разработанных в&nbsp;дизайне, компонентам, созданным на&nbsp;фронтенде. Гарантирую точное воплощение дизайнерских концепций и&nbsp;эффективное взаимодействие между дизайном и&nbsp;фронтендом.
    p.text.intro__text Выполняю кроссбраузерную и&nbsp;валидную верстку, полностью адаптивную под мобильные устройства. Даже в&nbsp;случае отсутствия мобильной версии проекта, способен разработать эффективную адаптивную верстку, что существенно экономит время для заказчика.

