mixin intro(data)
	div.intro(class!=attributes.class)
		h2.h2.h2--white.intro__title 
			span Всем привет!
			|Меня зовут Андрей&nbsp;&mdash; я&nbsp;Верстальщик.
		p.text.intro__text Мне 34&nbsp;года. Опыт работы 4 года. В работе использую: HTML5, PUG, CSS3, SASS, GULP, BEM, JS, JQUERY, BOOTSTRAP, REACTб Figma, Adobe Photoshop, GIT, TRELLO.
		p.text.intro__text Вся верстка кроссбраузерная, валидная, а&nbsp;также полностью адаптивная под мобильные устройства. Если в&nbsp;проекте нет мобильной версии, то&nbsp;хорошо разрабатываю адаптивную верстку. Что существенно экономит время заказчика.
