.page-contents {
  /* 2 Block model */
  margin-bottom: $space-lg;
}
.page-contents__h1 {
  &:not(:last-child) {
    /* 2 Block model */
    margin-bottom: $space-lg;
  }
}
.page-contents__h2 {
  /* 3 Typography */
  text-align: center;

  &:not(:last-child) {
    /* 2 Block model */
    margin-bottom: 30px;
  }
}
.page-contents__text {
  &:not(:last-child) {
    /* 2 Block model */
    margin-bottom: 16px;
  }
}
.page-contents__block-text {
  &:not(:last-child) {
    /* 2 Block model */
    margin-bottom: $space-lg;
  }
}
.page-contents__block-text--center {
  /* 3 Typography */
  text-align: center;
}
.page-contents__badge-list {
  /* 2 Block model */
  display: inline-flex;
  flex-wrap: wrap;
  gap: $space-esm;

  &:not(:last-child) {
    margin-bottom: $space-md;
  }
}
.page-contents__share-list {
  /* 2 Block model */
  display: flex;
  flex-direction: column;
  gap: $space-esm;

  &:not(:last-child) {
    margin-bottom: $space-sm;
  }
}
