section.page-contents.page-contents-hasbon-rocket
  div.container
    div.row.justify-content-md-center.space__gap-row-lg.space__mb-xll 
      div.col-12.col-xl-6
        h1.h1.page-contents__h1 Hashbon Rocket
        p.text.page-contents__text Как опытный верстальщик, моим значимым вкладом в текущем проекте было успешное добавление адаптивности для 
          a.link(href="https://rocket.hashbon.com/" target="_blank") Hashbon Rocket
          |. Кроме того, я провел тестирование на кроссбраузерность и осуществил рефакторинг кода для улучшения его качества и читаемости.

        p.text.page-contents__text Мои достижения включают полную реализацию поставленных задач, что значительно улучшило пользовательский опыт и позволило пользователям выбирать подходящий вариант оформления сайта. Результатом моей работы стал более привлекательный и функциональный сайт, способствующий удобству использования.

        p.text.page-contents__text Я проявил высокую профессиональную ответственность, точность и внимательность к деталям во время выполнения проекта. Мои навыки в области адаптивной веб-разработки и опыт в тестировании на кроссбраузерность позволили мне успешно достичь поставленных целей.

        p.text.page-contents__text Я готов использовать свой опыт и навыки, чтобы принести максимальную ценность вашей компании и сделать вклад в успех будущих проектов.

        div.page-contents__badge-list
          div.badge React
          div.badge TSX
          div.badge JSX
          div.badge Figma
          div.badge SASS
          div.badge BEM
          div.badge GIT

        div.page-contents__share-list
          +link-icon({ href: "https://rocket.hashbon.com/", text: "Hashbon Rocket",
            content: {
              name: "icon",
              arg: {
                name: "icon--share",
                mod: "icon--30",
              }
            }
          })(target="_blank")

      div.col-12.col-md-8.col-xl-6
        img.img(src="images/preview-img-hasbon-rocket.jpg" alt="Hashbon Rocket")

    div.row.justify-content-center.space__gap-row-lg.space__mb-xll  
      div.col-12
        div.page-contents__block-text.page-contents__block-text--center
          h2.h2.page-contents__h2 Страницы Hashbon Rocket

      div.col-10.col-md-6
        img.img.view-img-small(src="images/img-hasbon-rocket-01-small.jpg" alt="Hashbon Rocket")
      div.col-10.col-md-6
        img.img.view-img-small(src="images/img-hasbon-rocket-02-small.jpg" alt="Hashbon Rocket")
      div.col-10.col-md-6
        img.img.view-img-small(src="images/img-hasbon-rocket-03-small.jpg" alt="Hashbon Rocket")

    div.row.justify-content-center.space__mb-xll  
      div.col-auto
        +btn({type: "link", url: "/", text: "На главную"})

    div.row.justify-content-md-center.space__gap-row-lg.space__mb-lg  
      div.col-12
        h2.h2.page-contents__h2 Еще работы

    div.row.space__gap-row-md
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon.jpg', imgAlt: 'Hashbon React',
          url: '/hashbon.html',
          title: 'Hashbon React', desc: 'React Storybook TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-matbea.jpg', imgAlt: 'MATBEA',
          url: '/matbea.html',
          title: 'MATBEA', desc: 'React Storybook TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon-pass.jpg', imgAlt: 'Hashbon Pass',
          url: '/hashbon-pass.html',
          title: 'Hashbon Pass', desc: 'React TSX JSX BEM SASS CSS Next.js',
        })
      div.col-12.col-lg-6.col-xl-6
        +item-works({
          img: 'preview-img-hasbon-app-pass.jpg', imgAlt: 'Hashbon Pass App',
          url: '/hashbon-app.html',
          title: 'Hashbon Pass App', desc: 'React TSX JSX BEM SASS CSS',
        })