section.page-contents.page-contents-matbea
  div.container
    div.row.justify-content-md-center.space__gap-row-lg.space__mb-xll 
      div.col-12.col-xl-6
        div.page-contents__block-text
          h1.h1.page-contents__h1 MATBEA EXCHANGE
          p.text.page-contents__text Работал над миграцией старой версии этого сайта на современный стек технологий.
          p.text.page-contents__text В данной работе участвовала команда из 4 человек: техлид, дизайнер, фронтенд-разработчик и верстальщик.
          p.text.page-contents__text Основной моей задачей была разработка UI-системы и компонентов совместно с дизайнером для проекта. Проектировал компоненты на React, которые точно соответствуют компонентам дизайна в Figma. Кроме того, занимался анимацией для всего сайта и написанием небольшой логики. Сайт разрабатывался на NextJS.
          p.text.page-contents__text Для обеспечения соответствия компонентов дизайна и компонентов фронтенда был разработан 
            a.link(href="https://storybook.matbea.xyz/" target="_blank") Storybook
            |. Он позволяет наглядно увидеть работу всех компонентов сайта, из которых он был создан.

        div.page-contents__badge-list
          div.badge React
          div.badge NextJS
          div.badge Figma
          div.badge SASS
          div.badge BEM
          div.badge GIT
          div.badge Storybook

        div.page-contents__share-list
          +link-icon({ href: "https://matbea.com/", text: "MATBEA",
            content: {
              name: "icon",
              arg: {
                name: "icon--share",
                mod: "icon--30",
              }
            }
          })(target="_blank")
          +link-icon({ href: "https://storybook.matbea.xyz/", text: "Storybook",
            content: {
              name: "icon",
              arg: {
                name: "icon--share",
                mod: "icon--30",
              }
            }
          })(target="_blank")


      div.col-12.col-md-8.col-xl-6
        img.img(src="images/preview-img-matbea.jpg" alt="MATBEA")

    div.row.justify-content-md-center.space__gap-row-lg.space__mb-xll  
      div.col-12
        div.page-contents__block-text.page-contents__block-text--center
          h2.h2.page-contents__h2 Разработка UI Figma
          p.text.page-contents__text Велась совместная разработка компонентов с дизайнером, которые соответствуют всем требованиям верстки.

      div.col-10.col-md-6.col-xl-4
        img.img(src="images/img-matbea-ui-1.png" alt="UI MATBEA")
      div.col-10.col-md-6.col-xl-4
        img.img(src="images/img-matbea-ui-2.png" alt="UI MATBEA")
      div.col-10.col-md-6.col-xl-4
        img.img(src="images/img-matbea-ui-3.png" alt="UI MATBEA")

    div.row.justify-content-md-center.space__gap-row-lg.space__mb-xll  
      div.col-12
        div.page-contents__block-text.page-contents__block-text--center
          h2.h2.page-contents__h2 Разработка Storybook

      div.col-10.col-md-6.col-xl-4
        img.img(src="images/img-matbea-ui-4.jpg" alt="UI MATBEA")
      div.col-10.col-md-6.col-xl-4
        img.img(src="images/img-matbea-ui-5.jpg" alt="UI MATBEA")
      div.col-10.col-md-6.col-xl-4
        img.img(src="images/img-matbea-ui-6.jpg" alt="UI MATBEA")
      div.col-10.col-md-6.col-xl-4
        img.img(src="images/img-matbea-ui-7.jpg" alt="UI MATBEA")
      div.col-10.col-md-6.col-xl-4
        img.img(src="images/img-matbea-ui-8.jpg" alt="UI MATBEA")
      div.col-10.col-md-6.col-xl-4
        img.img(src="images/img-matbea-ui-9.jpg" alt="UI MATBEA")

      div.col-10.col-md-6.col-xl-4
        <img class="img small-image" src="images/img-matbea-ui-9.jpg" alt="Маленькая картинка">
      div.col-10.col-md-6.col-xl-4
        <img class="img small-image" src="images/img-matbea-ui-8.jpg" alt="Маленькая картинка">
      div.col-10.col-md-6.col-xl-4
        <img class="img small-image" src="images/img-test-01-small.jpg" alt="Маленькая картинка">
      div.col-10.col-md-6.col-xl-4
        <img class="img small-image" src="images/img-test-02-small.jpg" alt="Маленькая картинка">

  div.row.justify-content-center.space__mb-xll  
    div.col-auto
      +btn({type: "link", url: "/", text: "На главную"})

  div.row.justify-content-md-center.space__gap-row-lg.space__mb-lg  
    div.col-12
      h2.h2.page-contents__h2 Еще работы

  div.row.space__gap-row-md
    div.col-12.col-lg-6.col-xl-6.works__item.react.all
      +item-works({
        img: 'preview-img-matbea.jpg', imgAlt: 'MATBEA',
        url: 'https://matbea.com/',
        title: 'MATBEA', desc: 'React Storybook TSX JSX BEM SASS CSS Next.js',
      })
    div.col-12.col-lg-6.col-xl-6.works__item.react.all
      +item-works({
        img: 'preview-img-hasbon-pass.jpg', imgAlt: 'Hashbon Pass',
        url: 'https://pass.hashbon.com/',
        title: 'Hashbon Pass', desc: 'React TSX JSX BEM SASS CSS Next.js',
      })
    div.col-12.col-lg-6.col-xl-6.works__item.react.all
      +item-works({
        img: 'preview-img-hasbon-app-pass.jpg', imgAlt: 'Hashbon Pass App',
        url: 'https://app.pass.hashbon.com/',
        title: 'Hashbon Pass App', desc: 'React TSX JSX BEM SASS CSS',
      })
    div.col-12.col-lg-6.col-xl-6.works__item.react.all
      +item-works({
        img: 'preview-img-hasbon-lk.jpg', imgAlt: 'MATBEA Lk',
        url: 'https://www.figma.com/file/JzqupDHZ83HCQLnsVFPonu/React?type=design&node-id=128%3A20&mode=design&t=IblhIh6ilzFGKm1s-1',
        title: 'MATBEA Lk', desc: 'Совместная разработки UI-Kit и компонентов с дизайнером для проекта',
      })